.move-title{
  cursor:auto;
}

.move-button{
  background-color: #2c3e50;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #2c3e50;
}

.move-button:hover{
  border: 1px solid #16a085;
}

.move-button.pressed{
  background-color: #16a085;
}

.game-canvas{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:calc(100% - 100px);
}

#trigger{
  height: 75px;
  width: 75px;
  text-align: center;
  font-size: 20px;
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
	background-color: #e74c3c;
  border: 5px solid #2c3e50;
  margin: 12px;
  outline: 0;
  border-radius: 75px;
  cursor:pointer;
}

#trigger:hover{
	background-color: #c0392b;
}

#trigger.disabled{
  background-color: #7f8c8d;
  cursor: default;
}

#controls{
	background-color: #34495e;
  font-family: 'Play', sans-serif;
	z-index: 1000;
	position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  height: 100px;
  -webkit-box-shadow: -1px -7px 5px -5px rgba(0,0,0,0.21);
  -moz-box-shadow: -1px -7px 5px -5px rgba(0,0,0,0.21);
  box-shadow: -1px -7px 5px -5px rgba(0,0,0,0.21);
}

.control-panel-widget{
  height: 100%;
  display: inline;
  padding: 0 25px;
}

label{
  cursor: pointer;
  color: white;
  margin-right: 10px;
}
input[type='number']{
  font-family: 'Play', sans-serif;
  height: 40px;
  width: 100px;
  background-color: #2c3e50;
  text-align: center;
  color: white;
  font-size: 20px;
  border: 0;
  outline: 0;
  border-radius: 3px;
}
input[type='number']:focus{
  background-color: #16a085;
}
input[type='number']:hover{
  border: 1px solid #1abc9c;
}

h3{
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  color: #34495e;
}

.scoreboard{
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 99999;
}

.player-panel{
  padding: 25px;
  float: left;
}

.player-panel.player-2{
  float: right;
}
.player-panel h3{
  display: inline;
  margin-right: 15px;
}

.player-panel.player-2 h3{
  margin-right: 0;
  margin-left: 15px;
}

.player-2{
  text-align: right;
}

.player-score{
  font-family: 'Play', sans-serif;
  font-size: 36px;
  color: #2c3e50;
}
.gas-meter-wrapper{
  width: 200px;
  margin-top: 10px;
}
.gas-meter-wrapper span{
  width: 40px;
  float: left;
  text-align: left;
  display: block;
  text-transform: uppercase;
  color: #34495e;
}
.player-2 .gas-meter-wrapper span{
  text-align: right;
}
.gas-meter{
  width: 160px;
  float: left;
  height: 15px;
  margin-top: 2px;
  border-radius: 20px;
  background-color: rgba(44, 62, 80, 0.5);
  border: 2px solid rgba(44, 62, 80, 0.25);
  box-sizing: border-box;
  position: relative;
  padding: 2px;
}
.gas-meter .meter{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  top: 0;
  left: 0;
  background-color: #2ecc71;
}

#weapon-list{
  display:inline-block;
    margin-top: -100%;
    border-radius: 5px;
}

.listed-weapon{
  padding: 5px;
  width: 120px;
  border: 1px solid rgba(40,100,150,0.7);
  background: white;
}

.listed-weapon:hover{
  cursor:pointer;
  background-color:black;
  color:white;
}

