.lobby-section{

}

.dimmed{
	opacity: 0.5;
}

#lobby-title{
	font-weight: 600;
	font-size: 1.5em;
	color: 939393;
	margin-top: 20px;
}

.game-room-title{
	margin-top: 10px;
}

#lobby{
	font-size: 1.1em;
	padding: 5px;
	margin: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
}

#lobby-footer{
	position: fixed;
	bottom: 10px;
	left: 10px;
	font-size: 0.8em;
	cursor: pointer;
	width: 100%;
	text-align: center;
}

.lobby-footer-inner{
	display: inline-block;
}

.clickable, .button, .thin-button{
	cursor: pointer;
}

.clickable:hover, .button:hover, .thin-button:hover{
	background-color: #abcdef;
}

.button, .thin-button{
	display: inline-block;
	padding: 10px;
	margin: 10px;
	border: 1px solid #c5c5c5;
	border-radius: 5px;
	font-size: 1.2em;
}

.thin-button{
	padding: 4px 10px;
	margin: 2px;
	border-radius: 3px;
	font-size: 1.1em;
}

.match-room-title{
	margin-bottom: 10px;
}

.match-chat, .match-players, .match-settings{
	width: 100%;
	padding: 10px 5px;
	margin: 5px;
	border: 1px solid black;
}

.match-room table, .match-players, .match-settings{
	width: 90%;
}

.match-chat{
	height: 200px;
}

.match-chat-input{
	width: 75%;
	font-size: 1.1em;
}

.add-cpu{
	margin-left: 20px;
	opacity: 0.4;
}

.big-message{
	text-align: center;
	padding: 15px;
}

.edit-profile{
	margin-left: 20px;
}

.edit-profile, .haus-link{
	color: #a58eff;
	margin-left: 20px;
	cursor: pointer;
	text-decoration: none;
}

.edit-profile:hover, .haus-link:hover{
	color: #38318c;
	text-decoration: underline;
}

.edit-field{
	padding: 5px;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

.profile-table td{
	padding: 10px;
}

.team-table th{
	text-align: center;
}

.team-table td{
	  vertical-align: top;
}

#lobby p{
	font-size: 0.9em;
}