#tanks{
	position:relative;
	margin-right:auto;
	margin-left:auto;
	width:800;
	height:500;
	border: 3px solid #a4a4a4;
}

#tanks>canvas{
	position:absolute;
	z-index: 1;
}

#tanks>#fire{
	position:absolute;
	bottom:25px;
	left:90px;
	padding:8px;
	font-size:18px;
	font-weight:900;
	border: 3px solid #1e1e1e;
	border-radius: 20px;
	z-index: 2;
	background: #c99f9f;
	cursor:pointer;
	color:#1e1e1e;

  	transform:scale(2,1); 
  	-webkit-transform:scale(3,1);
  	display:inline-block;
}

#tanks>#fire:hover{
	bottom:24px;
	left:91px;
}

#tanks>#fire.active{
	box-shadow:0 0 50px #ff5656,0 0 150px #ff5656;
	background: #ff3232;
}

#tanks>#weapon-select{
	position:absolute;
	bottom:32px;
	left:220px;
	padding:8px;
	font-size:18px;
	font-weight:900;
	border: 3px solid #1e1e1e;
	border-radius: 20px;
	z-index: 2;
}

#tanks>#power{
	position:absolute;
	bottom:25px;
	width:140px;
	left:410px;
	padding:8px;
	font-size:18px;
	font-weight:900;
	border: 3px solid #1e1e1e;
	border-radius: 20px;
	z-index: 2;
}

#tanks>#power::after{
	content:"power";
}

#tanks>#angle{
	position:absolute;
	bottom:25px;
	width:140px;
	left:600px;
	padding:8px;
	font-size:18px;
	font-weight:900;
	border: 3px solid #1e1e1e;
	border-radius: 20px;
	z-index: 2;
}

#tanks>#angle::after{
	content:"angle";
}