<html>
<meta charset="utf-8">
<title>crack.haus games</title>
<!--<link rel="shortcut icon" href="//cdn.sstatic.net/stackoverflow/img/favicon.ico?v=6cd6089ee7f6">-->

<head>
{% load staticfiles %}

<link rel="shortcut icon" href="{% static "coffee.png" %}">




	<link href='http://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{% static "common/css/main.css" %}"/>
  
  <script src="http://cdn.peerjs.com/0.3/peer.js"></script>
	<script src="{% static "games/common/js/main.js" %}"></script>

</head>

<body data-token="{{ csrf_token }}">

<div class="main-title" >&#9749; crack.haus <span class='subtitle'>welcome home friend</span></div>

</body>



</html>