.game-canvas{
	position:relative;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

#trigger{
	padding:5px;
	background-color:white;
	border:2px solid black;
	width:60px;
}

#trigger:hover{
	background-color:#370091;
	color:#eeeeee;
	cursor:pointer;
}

#control-panel{
	width:1000px;
	background-color:#c4c4c4;
	font-family:courier;
	z-index: 1000;
	position: relative;
}